.advantages {
  h2 {
    &::before {
      content: "Advantages";
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: calc(var(--scheme-gap) * 4) auto auto;
  }

  &__item {
    flex: 1;
    padding: var(--scheme-gap);
    transition: background var(--scheme-transition);

    h3 {
      margin: calc(var(--scheme-gap) * 2) auto auto;
      text-transform: uppercase;
    }

    p {
      text-align: left;
    }

    img {
      max-height: 180px;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      background: var(--scheme-v4);
    }
  }
}

@media only screen and (max-width: 975px) {
  .advantages {
    &__items {
      flex-direction: column;
    }
  }
}
