.details {
  h2 {
    &::before {
      content: "Details";
    }
  }

  h3,
  strong {
    text-transform: uppercase;
  }

  strong {
    display: block;
    margin: var(--scheme-gap) 0 0;
  }

  &__items {
    margin: calc(var(--scheme-gap) * 4) auto auto;

    h3 {
      span {
        background-color: var(--scheme-v3);
        border-radius: 5px;
        color: var(--scheme-v1);
        font-size: initial;
        margin: -20px 20px 0;
        padding: 4px 10px;
        position: absolute;
      }
    }

    p {
      &::after {
        content: "";
        border-left: 1px solid var(--scheme-v4);
        height: 120px;
        display: block;
        margin: var(--scheme-gap) 50%;
      }

      &:last-child {
        &::after {
          content: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 975px) {
  .details {
    &__items {
      h3 {
        span {
          padding: 2px 8px;
        }
      }
    }
  }
}
