.hero {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;

  &__item {
    h1 {
      font-size: var(--scheme-h1);
      letter-spacing: 0.03em;
      max-width: 360px;

      strong {
        margin: 0 0 0 -15px;
      }

      span {
        color: var(--scheme-v3);
        text-transform: uppercase;
      }
    }

    p {
      max-width: 340px;
    }

    .buttons {
      margin: calc(var(--scheme-gap) * 2) 0;

      button {
        margin: 0 var(--scheme-gap) 0 0;
        transition: background var(--scheme-transition);

        &:hover {
          background: var(--scheme-v4);
        }
      }

      svg {
        transition: opacity var(--scheme-transition);
        vertical-align: bottom;

        &:hover {
          opacity: 0.2;
        }
      }
    }
  }

  picture {
    img {
      height: 600px;
    }
  }
}

@media only screen and (max-width: 975px) {
  .hero {
    flex-direction: column;

    &__item {
      margin: auto;
      text-align: center;
    }

    picture {
      display: none;
    }
  }
}
