.hero {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: calc(var(--scheme-gap) * 6) auto;
  max-width: var(--scheme-max-width);
  padding: var(--scheme-gap);

  &__item {
    h1 {
      font-size: var(--scheme-h1);
      letter-spacing: 0.03em;
      max-width: 360px;

      strong {
        margin: 0 0 0 -15px;
      }

      span {
        color: var(--scheme-v3);
        text-transform: uppercase;
      }
    }

    p {
      max-width: 340px;
    }

    .buttons {
      margin: calc(var(--scheme-gap) * 2) 0;

      button {
        font-size: calc(var(--scheme-xs) - 1px);
      }

      svg {
        margin: 0 0 0 var(--scheme-gap);
        vertical-align: bottom;
      }
    }
  }

  img {
    background: var(--scheme-v3);
    height: 400px;
    max-width: 400px;
  }
}

@media only screen and (max-width: 975px) {
  .hero {
    flex-wrap: wrap;
  }
}
