.more_details {
  background: var(--scheme-v3);
  color: var(--scheme-v1);
  padding: calc(var(--scheme-gap) * 2) var(--scheme-gap);

  button {
    border: 2px solid var(--scheme-v1);
    margin: calc(var(--scheme-gap) * 2) auto 0;

    &:hover {
      box-shadow: 9px -9px 3px 0px hsla(206, 40%, 22%, 0.1);
    }
  }
}
