.possibilities {
  h2 {
    &::before {
      content: "Possibilities";
    }

    span {
      background-color: var(--scheme-v3);
      border-radius: 5px;
      color: var(--scheme-v1);
      font-size: initial;
      margin: -20px 20px 0;
      padding: 4px 10px;
      position: absolute;
    }
  }

  span {
    color: var(--scheme-v3);
    font-size: calc(var(--scheme-xs) * 1.6);
  }

  p:last-child {
    text-align: left;
  }

  article {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: var(--scheme-gap) 0 0 0;

    p {
      margin: var(--scheme-gap);
      text-align: left;
    }

    picture {
      img {
        height: 400px;
      }
    }
  }
}

@media only screen and (max-width: 975px) {
  .possibilities {
    h2 {
      span {
        margin: -20px 0 0;
        padding: 2px 8px;
      }
    }

    article {
      flex-direction: column;

      p {
        text-align: center;
      }

      picture {
        img {
          height: 280px;
        }
      }
    }
  }
}
