.security {
  h2 {
    &::before {
      content: "Data Decurity";
    }
  }

  &__item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: calc(var(--scheme-gap) * 4) 0 0 0;

    picture {
      img {
        height: 400px;
        max-width: 400px;
      }
    }

    ul {
      text-align: left;

      li {
        line-height: calc(var(--scheme-xs) * 2);

        &::before {
          color: var(--scheme-v3);
          content: "⸺";
          margin: 0 20px 0 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 975px) {
  .security {
    &__item {
      flex-direction: column;
      margin: var(--scheme-gap) 0 0 0;

      picture {
        img {
          height: 280px;
          max-width: 200px;
        }
      }

      ul {
        margin: var(--scheme-gap) auto 0;

        li {
          display: inline-flex;

          &::before {
            content: "―";
            margin: 0 10px 0 0;
          }
        }
      }
    }
  }
}
