.security {
  margin: 200px auto;
  max-width: var(--scheme-max-width);
  text-align: center;

  h2 {
    color: var(--scheme-v3);
    letter-spacing: 2px;
    margin: var(--scheme-gap) 0 0 0;
    text-transform: uppercase;

    &::before {
      content: "Data Decurity";
      color: #0fd29828;
      font-size: var(--scheme-shadow-size);
      margin: var(--scheme-offset) 0 0 5px;
      position: absolute;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin: var(--scheme-gap) 0 0 0;

    img {
      background: var(--scheme-v3);
      height: 400px;
      width: 400px;
    }

    ul {
      text-align: left;

      li {
        margin: var(--scheme-gap) 0 0 60px;

        &::before {
          border-bottom: 1px solid var(--scheme-v3);
          content: "";
          margin: 15px 0 0 -40px;
          position: absolute;
          padding: 0 25px 0 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 975px) {
  article {
    flex-wrap: wrap;
    padding: 0 20px;

    picture {
      margin: 0 auto;

      img {
        max-width: 100%;
      }
    }

    ul {
      margin: 0 auto;
    }
  }
}
