.status {
  h2 {
    &::before {
      content: "How can I increase my status?";
    }
  }

  button {
    margin: var(--scheme-gap) calc(var(--scheme-gap) / 2) 0;

    &:hover {
      background: var(--scheme-v4);
    }
  }
}
