:root {
  --scheme-v1: #12161b;
  --scheme-v2: #ffffff;
  --scheme-v3: #0fd297;

  // project font-family
  --scheme-font: 400 var(--scheme-xs) / 1.64 "Jost", sans-serif;

  --scheme-h1: 32px;
  --scheme-xs: 16px;

  --scheme-shadow-size: 22px;

  // project default template width
  --scheme-max-width: 1047px; // 5 SE
  --scheme-min-width: 320px; // 5 SE

  // project default template height
  --scheme-min-height: 568px; // 5 SE

  // project default template gap
  --scheme-gap: 20px;

  // project ex. header & footer height
  --scheme-offset: -10px;
}

// initialize project fonts from @assets
@font-face {
  font-family: "Jost";
  src: local("../fonts/Jost-400-Book"),
    url("../fonts/Jost-400-Book.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Jost";
  src: local("../fonts/Jost-700-Bold"),
    url("../fonts/Jost-700-Bold.ttf") format("truetype");
  font-weight: 700;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--scheme-v1);
  color: var(--scheme-v2);
  font: var(--scheme-font);
}
