<section class="about">
    <h2>About Hypercube</h2>

    <p>“Hypercube Finance” is a derivative product of the TBCC developers, <br />which is the result of many years of
        painstaking work of the best <br />experts in artificial intelligence.</p>

    <p>The neural network predicts changes in quotations with an accuracy of 70-80% <br />and allows you to determine
        the
        direction of changes in the price of an asset, <br />signaling the appearance of a point of entry into a
        transaction
        or an exit from it. <br />Thus, “Hypercube Finance” allows users to make money <br />on high-frequency trading.
    </p>
</section>