<section class="advantages" id="advantages">
    <h2>Advantages</h2>
    <p>Why is this tool considered so successful?</p>

    <div class="advantages__items">
        <article class="advantages__item">
            <picture>
                <img src="../img/pic6.svg" loading="lazy" alt="Hypercube">
            </picture>

            <h3>Analysys</h3>
            <p>The neural network analyzes the market using the technology of using machine learning in trading in the
                cryptocurrency market.</p>
        </article>

        <article class="advantages__item">
            <picture>
                <img src="../img/pic5.svg" loading="lazy" alt="Hypercube">
            </picture>

            <h3>Diversification</h3>
            <p>Investments in neural networks are being diversified into highly profitable areas to generate profit in
                the
                medium term.</p>
        </article>

        <article class="advantages__item">
            <picture>
                <img src="../img/pic4.svg" loading="lazy" alt="Hypercube">
            </picture>

            <h3>Turnover</h3>
            <p>Investments work in the currency HPR token, equal to one dollar. Once a week, users are paid profits with
                predicted values of profitability in the ratio of 0.1-1% of the deposit amount per day.</p>
        </article>
    </div>
</section>