<section class="details">
    <h2>Details</h2>
    <h3>How it works?</h3>
    <p>At the moment, the service works exclusively on the referral system. <br />There are three types of wallets in
        the
        user's personal account:</p>

    <div class="details__items">
        <h3>Basic</h3>

        <article class="details__item">
            <p>Used to deposit and withdraw funds, <br />accrue passive income</p>

            <picture>
                <img src="../img/rect.svg" alt="Secured area">
            </picture>

        </article>
    </div>

    <div class="details__items">
        <h3>Bonus</h3>

        <article class="details__item">
            <p>Used to deposit and withdraw funds, <br />accrue passive income</p>

            <picture>
                <img src="../img/rect.svg" alt="Secured area">
            </picture>

        </article>
    </div>

    <div class="details__items">
        <h3>Staking</h3>
        <article class="details__item">
            <p>The amount of investment that <br />“works” for income. <br />You can only withdraw income
                <br />from this wallet, which on average <br />reaches 0.5% (from 0.1 to 1%) <br />per day.
            </p>

            <picture>
                <img src="../img/rect.svg" alt="Secured area">
            </picture>

        </article>
    </div>

    <div class="details__view">
        <p>In addition to direct income from investments, the wallet receives interest <br />from each replenishment of
            the
            staking wallet by referrals. <br />The top-up percentage depends on your status.</p>

        <button>Click to view details</button>
    </div>


</section>