<section class="details" id="details">
    <h2>Details</h2>

    <strong>
        How it works?
    </strong>

    <p>At the moment, the service works exclusively on the referral system. <br />There are three types of wallets in
        the user's personal account:</p>

    <div class="details__items">
        <h3>Basic</h3>
        <p>Used to deposit and withdraw funds, <br />accrue passive income</p>


        <h3>Bonus <span>NEW</span></h3>
        <p>Used to deposit and withdraw funds, <br />accrue passive income</p>


        <h3>Staking</h3>
        <p>The amount of investment that “works” for income. <br />You can only withdraw income
            <br />from this wallet, which on average reaches 0.5% (from 0.1 to 1%) <br />per day.
        </p>
    </div>


</section>