//= hypercube.html

<nav>
	Menu
	<a href="/">About HC</a>
	<a href="/">Options</a>
	<a href="/">Advantages</a>
	<a href="/">Details</a>
</nav>

<nav>
	Account
	<a href="/">Sign In</a>
	<a href="/">Register</a>
	<a href="/">Forgot your password?</a>
</nav>

<nav>
	Docs
	<a href="/">Terms & Conditions</a>
	<a href="/">Cookies police</a>
	<a href="/">Privacy policy</a>
</nav>

<nav>
	Contact Info
	<a href="/">@hypercubesupport</a>
	<a href="/">@hypercube_finance_official</a>
	<a href="/">info@hypercube.team</a>
</nav>

<p>
	&copy; 2021-2022 Allrights Reserved. "Hypercube Finance"
</p>