//= hypercube.html

<nav class="inactive">
	<a class="link" onclick="moveTo('#about')">About HC</a>
	<a class="link" onclick="moveTo('#possibilities')">Options</a>
	<a class="link" onclick="moveTo('#advantages')">Advantages</a>
	<a class="link" href="/">Sign In</a>

	<ul>
		<li>EN</li>
		<li>ZH</li>
	</ul>

	<button>Register</button>
</nav>

<svg class="menu" onclick="switchNavbar();" xmlns="http://www.w3.org/2000/svg" viewBox="3 2 24 24" width="41">
	<path fill="var(--scheme-v3)" d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z" />
</svg>