<section class="hero">
    <div class="hero__item">
        <h1>
            <strong>"Hypercube Finance"</strong> <br />
            New generation trading <span>neural network</span> and financial ecosystem
        </h1>

        <p>
            Intelligent service "Hypercube Finance" takes over the work with cryptoassets, bringing passive income
            up to
            1%
            daily 🔥
        </p>

        <div class="buttons">
            <button>More Details</button>

            <a href="/">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path fill="var(--scheme-v3)"
                        d="M4 19h16v-7h2v8a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-8h2v7zM14 9h5l-7 7-7-7h5V3h4v6z" />
                </svg>
            </a>

        </div>
    </div>

    <picture>
        <img src="../img/rect.svg" alt="Secured area">
    </picture>

</section>