<section class="possibilities" id="possibilities">
    <h2>Possibilities
        <span>NEW</span>
    </h2>

    <p>Increase your investment amount up to <span>200%</span>.</p>

    <article>
        <p>In just a month, you can increase the amount on your account by more than 20%, <br />thanks to the daily
            accrual of passive income and its <br />capitalization.</p>

        <picture>
            <img src="../img/pic3.svg" loading="lazy" alt="Hypercube">
        </picture>

    </article>
</section>