<section class="possibilities">
    <div class="possibilities__container">
        <h2>Possibilities</h2>

        <span>New</span>
    </div>

    <p>Increase your investment amount up to <span>200%</span>.</p>

    <article>
        <p>In just a month, you can increase the amount <br />on your account by more than 20%, thanks to <br />the
            daily
            accrual
            of
            passive income and its <br />capitalization.</p>

        <picture>
            <img src="../img/rect.svg" alt="Secured area">
        </picture>

    </article>
</section>