<section class="security">
    <h2>Data Security</h2>
    <p>Hypercube Finance is a guarantor of high security:</p>

    <article class="security__item">
        <picture>
            <img src="../img/pic7.svg" loading="lazy" alt="Hypercube">
        </picture>

        <ul>
            <li>Servers are in a secured area</li>
            <li>Customer funds are stored on a multi-signature cold walllet</li>
            <li>Investment strategies are maximally diversified</li>
            <li>Cooperation only with reliable brokers and exchanges</li>
        </ul>

    </article>
</section>